.signup-form{
    margin-top: 15%;
    margin-left: 30%;
    position: absolute;
}
.title-create{
    padding: 5px;
    margin-bottom: 5%;
    text-align: center;
    color:#040204;
}
.btn-create{
    margin: 0% 2% 2% 35%;
    padding: 1%;
    border-radius: 4px;
    align-items: center;

}
/*RESPONSIVE */
@media only screen and (min-width: 768px) and (max-width: 960px) {

}
@media screen and (max-width: 480px) {
    .signup-form{
        margin: 5% 0% 5% 0%;   
    }
    .btn-create{
        margin: 0% 2% 2% 0%;
    }
}

