@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

/* Initialization */
*, ::before, ::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  /* Font-size and font-family by default */
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.8rem;
    background:rgb(246,246,246);
    font-family: "Poppins";
  }
  